{% extends 'base.html' %}

{% block title %}编辑个人信息{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">编辑个人信息</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">保存修改</button>
                            <a href="{% url 'users:profile' %}" class="btn btn-secondary">返回个人中心</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 